[submodule "collmind.backend"]
	path = collmind.backend
	url = https://github.com/CollMind/collmind.backend.git
	branch = staging
[submodule "collmind.frontend"]
	path = collmind.frontend
	url = https://github.com/CollMind/collmind.frontend.git
	branch = staging
