[submodule "collmind.backend"]
	path = collmind.backend
	url = https://bitbucket.org/collmind/collmind-backend.git
	branch = staging
[submodule "collmind.frontend"]
	path = collmind.frontend
	url = https://bitbucket.org/collmind/collmind-frontend.git
	branch = main
